<p>dynamic works!</p>
<kendo-grid [data]="gridData" [height]="410" *ngIf="gridData.length > 0">
    <kendo-grid-column *ngFor="let item of gridField" field="{{ item.field }}" title="{{ item.title }}"
        width="{{ item.width }}">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" *ngIf="item.field == 'option'">
            <button (click)="Update(dataItem, rowIndex)">showUserPosts</button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
<h1 *ngIf="gridData.length > 0">UserPosts by Id Number {{ UserId }}</h1>

<kendo-grid [data]="childgridData" [height]="410" *ngIf="childgridData.length > 0">
    <kendo-grid-column *ngFor="let item of childgridField" field="{{ item.field }}" title="{{ item.title }}"
        width="{{ item.width }}">
    </kendo-grid-column>
</kendo-grid>